
<div class="gallery" id="gallery">
            <div class="justifycenter title mobile"></div>
            <div class="left previews">
                <div class="one  active"><%=image_tag("skazka/1.jpg")%><div class="clear"></div></div>
                <div class="one"><%=image_tag("skazka/2.jpg")%></div>
                <div class="one"><%=image_tag("skazka/3.jpg")%></div>
                <div class="one"><%=image_tag("skazka/4.jpg")%></div>
                <div class="one"><%=image_tag("skazka/5.jpg")%></div>
                <div class="one"><%=image_tag("skazka/6.jpg")%></div>
                <div class="one"><%=image_tag("skazka/7.jpg")%></div>
                <div class="one"><%=image_tag("skazka/8.jpg")%></div>
                <div class="one"><%=image_tag("skazka/9.jpg")%></div>
                <div class="one"><%=image_tag("skazka/10.jpg")%></div>
                <div class="one"><%=image_tag("skazka/11.jpg")%></div>
                <div class="one"><%=image_tag("skazka/12.jpg")%></div>
                <div class="one"><%=image_tag("skazka/13.jpg")%></div>
                <div class="one"><%=image_tag("skazka/14.jpg")%></div>
                <div class="one"><%=image_tag("skazka/15.jpg")%></div>
                <div class="one"><%=image_tag("skazka/16.jpg")%></div>
                <div class="one"><%=image_tag("skazka/17.jpg")%></div>
                <div class="one"><%=image_tag("skazka/18.jpg")%></div>
                <div class="one"><%=image_tag("skazka/19.jpg")%></div>
                <div class="one"><%=image_tag("skazka/20.jpg")%></div>
                <div class="one"><%=image_tag("skazka/21.jpg")%></div>
                <div class="one"><%=image_tag("skazka/22.jpg")%></div>
                <div class="one"><%=image_tag("skazka/23.jpg")%></div>
                <div class="one"><%=image_tag("skazka/24.jpg")%></div>
                <div class="one"><%=image_tag("skazka/25.jpg")%></div>

            </div>

            <div class=" mainImg shadow ">
                <div class="img"><%=image_tag("skazka/2.jpg",  :id => "mainImgGallery")%> ></div>
				
            </div>
            <div class="clear"></div>
</div>


